In [1]:
x = 5

print(type(x))

<class 'int'>

In [2]:
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 20.5
print(type(x))

<class 'float'>

In [4]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [6]:
x = ("apple",)
print(type(x))

<class 'tuple'>

In [7]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [11]:
x = 5
x = float(x)
print(type(x))

<class 'float'>

In [12]:
x = 5.5
x = int(x)
print(type(x))

<class 'int'>

In [13]:
x = 5
x = complex(x)
print(type(x))

<class 'complex'>

In [14]:
x = "Hello World"
print(len(x))

11

In [15]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [18]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [19]:
txt = " Hello World "
x = txt.strip()

In [20]:
print(x)

Hello World

In [21]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [22]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [24]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [27]:
age = 36
estatura = 1.60
txt = "My name is John, and I am {} estatura {}"
print(txt.format(age, estatura))

My name is John, and I am 36 estatura 1.6

In [28]:
print(10 > 9)

True

In [29]:
print(10 == 9)

False

In [30]:
print(10 < 9)

False

In [31]:
print(bool("abc"))

True

In [32]:
print(bool(0))

False

In [33]:
print(10 * 5)

50

In [34]:
print(10 /2)

5.0

In [37]:
fruits = ["apple", "banana"]
if "apple" in fruits: print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [39]:
if 5 != 10: print("5 and 10 is not equal")

5 and 10 is not equal

In [41]:
if 5 == 10 or 4 == 4:print("At least one of the statements is true")

At least one of the statements is true

In [42]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [44]:
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [47]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [52]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [50]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [54]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [55]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [56]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [57]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [58]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [60]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [59]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [61]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [62]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

In [64]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'mango', 'apple', 'grapes', 'cherry', 'orange', 'banana'}

In [67]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [66]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [68]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(
car.get("model")
)

Mustang

In [71]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"]= 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [81]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"

for x in car:
    print(x)

brand
model
year
color

In [80]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")

for x, y in car.items():
    print(x, y)

brand Ford
year 1964