# Tutorial de Python

## 1. Sintaxis

In [1]:
print("Hello World")

Hello World

In [2]:
if 5 > 2:
   print("Five is greater than two!")

Five is greater than two!

In [3]:
#This is a comment

In [7]:
"""This is a comment written in more that just one line"""

'This is a comment written in more that just one line'

In [9]:
carname = "Volvo"
print(carname)

Volvo

In [10]:
x = 50
print(x)

50

In [12]:
x = 5 
y = 10
print(x +y)

15

In [13]:
x = 5
y = 10
z = x + y
print(z)

15

In [15]:
my_first_name = "John"
print(my_first_name)

John

In [16]:
x = y = z = "Orange"

print(x, y, z)

Orange Orange Orange

In [20]:
def myfunc():
    global x 
    x = "fantastic"
    return x  
    
print(myfunc())

fantastic

In [21]:
x = 5
print(type(x))

<class 'int'>

In [22]:
x = "Hello World"
print(type(x))

<class 'str'>

In [23]:
x = 20.5
print(type(x))

<class 'float'>

In [24]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [25]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [26]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [27]:
x = True
print(type(x))

<class 'bool'>

In [29]:
x = 5
x = float(x)
print(x)

5.0

In [31]:
x = 5.5
x = int(x)
print(x)

5

In [32]:
x = 5
x = complex(x)
print(x)

(5+0j)

In [33]:
x = "Hello World"
print(len(x))

11

In [34]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [35]:
txt = "Hello World"
x = txt[2:5]
print(5)

5

In [36]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [37]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [38]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [40]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [41]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [42]:
print(10 > 9)

True

In [43]:
print(10 == 9)

False

In [44]:
print(10 < 9)

False

In [45]:
print(bool("abc"))

True

In [46]:
print(bool(0))

False

In [47]:
print(10 *5)

50

In [48]:
print(10 /2)

5.0

In [50]:
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [51]:
if 5 !=10:
    print("5 and 10 is not equal")

5 and 10 is not equal

In [52]:
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true

In [53]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [55]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [56]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [57]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [59]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [60]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [61]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [62]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [63]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [64]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [65]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [66]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [67]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
     print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [68]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'banana', 'apple', 'orange'}

In [69]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'orange', 'cherry', 'banana', 'apple', 'grapes', 'mango'}

In [70]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [71]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [72]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [74]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [75]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [76]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [77]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

In [78]:
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [79]:
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [80]:
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

In [82]:
a = 50
b = 10
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

In [93]:
a = 1
b = 1
c =2
d = 2

if a == b and c == d:
    print("Hello")

Hello

In [85]:
a = 1
b = 1
c =2

if a == b or c == d:
    print("Hello")

Hello

In [94]:
if 5 > 2:
     print("Five is greater than two!")

Five is greater than two!

In [95]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [96]:
print("Yes") if 5 > 2 else print("No")

Yes

In [104]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
    if i == 3:
        break
        i += 1

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:    
continue
        print(i)

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
    continue
    print(x)

In [ ]:
for x in range(6):
    print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
    break
    print(x)

In [ ]:
def my_function():
    print("Hello from a function")

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

In [ ]:
def my_function(fname, lname):
    print(fname)

In [ ]:
def my_function(x):
    return x + 5

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

In [ ]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

In [ ]:
x = lambda a : a

print(x)

In [ ]:
class MyClass: x = 5

In [ ]:
class MyClass:
    x = 5
    
p1 = MyClass()

In [ ]:
class MyClass:
    x = 5

p1 = MyClass()

print(p1.x)

In [ ]:
class Person:
    def __init__ (self, name, age):
        self.name = name
        self.age = age

In [ ]:
class Student(Person):

In [2]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")
x.printname()

Mike

In [ ]:
import mymodule

In [ ]:
import mymodule as mx

In [ ]:
import mymodule

print(dir(mymodule))

In [ ]:
from mymodule import person1